description = "Ubuntu 22.04 Jammy Jellyfish full image with buildpacks for Apache HTTPD, Go, Java, Java Native Image, .NET, NGINX, Node.js, PHP, Procfile, Python, and Ruby"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/dotnet-core:1.4.0"
  version = "1.4.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/go:4.13.11"
  version = "4.13.11"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java-native-image:11.7.0"
  version = "11.7.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/java:18.3.0"
  version = "18.3.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/nodejs:7.4.0"
  version = "7.4.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/php:2.19.9"
  version = "2.19.9"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/procfile:5.11.0"
  version = "5.11.0"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/python:2.24.3"
  version = "2.24.3"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/ruby:0.47.6"
  version = "0.47.6"

[[buildpacks]]
  uri = "docker://gcr.io/paketo-buildpacks/web-servers:1.2.0"
  version = "1.2.0"

[lifecycle]
  version = "0.20.6"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.6"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "1.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.13.11"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.24.3"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/php"
    version = "2.19.9"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "1.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "11.7.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "18.3.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "7.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.11.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-full:0.1.76"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-full:latest"
  run-image-mirrors = []
