description = "Ubuntu 22.04 Jammy Jellyfish full image with buildpacks for Apache HTTPD, Go, Java, Java Native Image, .NET, NGINX, Node.js, PHP, Procfile, Python, and Ruby"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:3.4.0"
  version = "3.4.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.18.5"
  version = "4.18.5"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.2.0"
  version = "13.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.2.0"
  version = "20.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:9.14.0"
  version = "9.14.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/php:2.19.9"
  version = "2.19.9"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.11.4"
  version = "5.11.4"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.38.1"
  version = "2.38.1"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:0.47.8"
  version = "0.47.8"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:2.13.0"
  version = "2.13.0"

[lifecycle]
  version = "0.20.18"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.8"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "3.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.18.5"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.38.1"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/php"
    version = "2.19.9"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "2.13.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "9.14.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.11.4"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-full:0.1.100"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-full:latest"
