description = "Ubuntu 22.04 Jammy Jellyfish full image with buildpacks for Apache HTTPD, Go, Java, Java Native Image, .NET, NGINX, Node.js, PHP, Procfile, Python, and Ruby"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/dotnet-core:3.11.0"
  version = "3.11.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/go:4.19.0"
  version = "4.19.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.5.0"
  version = "13.5.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.5.0"
  version = "20.5.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/nodejs:9.16.0"
  version = "9.16.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/php:2.19.9"
  version = "2.19.9"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/procfile:5.12.0"
  version = "5.12.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/python:2.39.0"
  version = "2.39.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/ruby:0.47.13"
  version = "0.47.13"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/web-servers:3.4.0"
  version = "3.4.0"

[lifecycle]
  version = "0.21.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ruby"
    version = "0.47.13"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core"
    version = "3.11.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/go"
    version = "4.19.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/python"
    version = "2.39.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/php"
    version = "2.19.9"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/web-servers"
    version = "3.4.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.5.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.5.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/nodejs"
    version = "9.16.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    version = "5.12.0"

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-full:0.1.105"
  id = "io.buildpacks.stacks.jammy"
  run-image = "index.docker.io/paketobuildpacks/run-jammy-full:latest"
